.react-weather-app {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #e3f3fe;
  padding: 80px;
  height: 100vh;

  @media only screen and (max-width: 1024px) {
    padding: 12px;
  }

  &__header {
    border-bottom: solid #000000 1px;
    margin-bottom: 20px;
  }
}
